.row{
    height: 100%;
    padding:30px 10px 10px 20px;
    border-left:1px solid lightgray;
  }
  mat-chip{
    background-color: #3f51b5 !important;
    color:white !important;
    cursor: pointer;
    border-radius:5px !important;
  }