@media print {
    body * {
      visibility: hidden;
    }
    #alltables, #alltables * {
      visibility: visible;
    }
    #alltables {
      position: absolute;
      left: 0;
      top: 0;
    }
  }