
mat-card-title {
  font-size:40px !important;
  text-align:center !important;
}
.custom-cards{
  display: inline-block;
  position: relative;
  background-color: lightblue;
  margin-left: 10px;
}
mat-card{
  background-color: #E8EAF6;
}
mat-card#header{
  background-color: #9FA8DA;
  text-align: center;
  margin:0;
}
.three-cards{
  float:left !important;
  height:100%;
  margin:1%;
  margin-top:5% !important;
}
.div2-three-cards{
  margin-bottom:1%;
}
body{
  background-color: #E8EAF6 !important;
}