body{
  background-color: #E8EAF6 !important;
}
.custom-header-fixed{
  padding:15px 0 0 180px;
  color:white;
  z-index:99999 !important;
}


#sidebar2{
  /* min-width: 250px;
  max-width: 250px; */
  min-height: 100vh;
  transition: all 0.3s;
}
/* 
#sidebar.active {
  margin-left: -250px;
} */
#sidebar2.active{
  margin-left: -250px !important;
}
@media (max-width: 768px) {
  /* #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  } */
  /* #sidebar2 {
    margin-left: 250px;
}
#sidebar2.active {
    margin-left: 0;
} */
}

.wrapper {
  display: block;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  /* top layer */
  z-index: 9999;
}

.overlay {
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  /* middle layer, i.e. appears below the sidebar */
  z-index: 9998;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}
#sidebar.active {
  display: block !important;
}
