<mat-card style="min-height:1200px !important">

    <mat-card-title>Libya Reports</mat-card-title>
    <mat-card-content>
        <div class="three-cards" style="width:22%;height:100%;">

            <app-orgunitlibrary></app-orgunitlibrary>

        </div>
        <div class="three-cards" style="width:50%;">

            <div class="div2-three-cards">
                <app-headerselections></app-headerselections>
            </div>
            <div class="div2-three-cards">
                <app-datasetstabs></app-datasetstabs>
            </div>
            <div class="div2-three-cards">
                <app-tablecard></app-tablecard>
            </div>

        </div>
        <div class="three-cards" style="width:22%;">

            <app-rightbarselections></app-rightbarselections>

        </div>
    </mat-card-content>
</mat-card>