body{
  background-color: #E8EAF6 !important;
}
.custom-header-fixed{
  padding:15px 0 0 40px;
  color:white;
  z-index:99999 !important;
}
#app-header{
  color: white;
  text-align: center;
  font-size: 26px;
  padding: 0 0 0 40px;
}
.custom-header-fixed2{
  padding:15px 0 0 120px;
  color:white;
  z-index:99999 !important;
}
.toggleTheme{
  display:none;
}
.cdk-focused, .cdk-mouse-focused{
  outline:none !important;
}
.colorchips{
  max-width:80%;
  max-height: 80%;
  cursor: pointer;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.wrapper {
  display: block;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y:scroll;
  /* top layer */
  z-index: 9999;
}

.overlay {
  /* full screen */
  width: 100vw;
  height: 100%;
  /* transparent black */
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  /* middle layer, i.e. appears below the sidebar */
  z-index: 9998;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* top right corner of the sidebar */
  top: 10px;
  right: 10px;
}
#sidebar.active {
  display: block !important;
}

#changecolor{
  background-color: white;
  position: absolute;
  z-index:9999;
  width: 90px;
  height: 90px;
  top: 30px;
  right: 10px;
  padding: 5px;
  border-radius: 3%;
  animation-name: showcolors;
  animation-duration: 300ms;
}

@keyframes showcolors {
  0%   {width:0px; height:0px;}
  100%  {width:90px; height:90px;}
}
  /* animate bounce */
  .animated { 
    background-image: url(/css/images/logo.png); 
    background-repeat: no-repeat;
    background-position: left top; 
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
 }
 
 @-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
 } 
 
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }
 
 .bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
 }
