<app-loader id="loader"></app-loader>

<div class="row hideme" style="position:fixed;min-width:101%;min-height:90px;z-index:9999">
    <!-- first header -->
    <div class="row flex-xl-nowrap main" style="min-width:101.5%;min-height:50px;max-height:50px;z-index:9999">
        <div class="col-xs-2 custom-header-fixed" id="back-button">
            <mat-icon (click)="goToHome();" style="margin-top:-7px;color:white;cursor:pointer;font-size:30px"> home </mat-icon>
        </div>
        <div class="col" id="app-header">
            Libya Datasets Reports
        </div>
        <div class="col-xs-2 custom-header-fixed mat-raised-primary" id="selected-theme">
            <mat-icon class="sp" (click)="toggle();" style="margin-top:-5px;margin-right:25px;color:white;cursor:pointer"> format_color_fill </mat-icon>
            <div id="changecolor" class="sp flex toggleTheme">
                <mat-grid-list cols="2" rowHeight="1:1">
                    <mat-grid-tile>
                        <button class="colorchips" mat-fab style="background-color: #303f9f" (click)="updateTheme('default-theme')"></button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button class="colorchips" mat-fab style="background-color: #c2185b" color="accent" (click)="updateTheme('pink-theme')"></button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button class="colorchips" mat-fab style="background-color: #17a2b8" color="warn" (click)="updateTheme('cyan-theme')"></button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button class="colorchips" mat-fab style="background-color: #00796b" color="primary" (click)="updateTheme('teal-theme')"></button>
                    </mat-grid-tile>
                </mat-grid-list>

            </div>
        </div>
    </div>
    <!-- Second header -->
    <div class="row flex-xl-nowrap sub" style="min-width:101%;margin:auto;min-height:40px;z-index:999;display: none" id="sub-header">
        <div class="col custom-header-fixed2" id="selected-ou-name">

        </div>
        <div class="col custom-header-fixed2" id="selected-report-name">

        </div>
        <div class="col custom-header-fixed2" id="selected-period-name">

        </div>
        <div class="col-md-4 custom-header-fixed2" id="selected-dataset-name">

        </div>
    </div>

</div>
<div class="row no-gutters flex-xl-nowrap clearfix hideme" style="min-height:100vh;display: none;padding-top:110px;z-index: 1;" id="mainPage">
    <div class="col" style="padding:20px 0 0 20px;min-width:220px">
        <app-orgunitlibrary></app-orgunitlibrary>
    </div>
    <!-- <div class="row " > -->

    <mat-divider [vertical]="true"></mat-divider>
    <div class="col wrapper col-lg-10">
        <div class="row no-gutters">
            <div class="col col-lg-10">
                <app-headerselections></app-headerselections>
            </div>
            <div class="col col-xs-2">
                <button mat-raised-button color="primary" id="sidebarCollapse" style="margin:20px 0 0 0;cursor:pointer">
                    <span id="dataset-count" class="badge badge-light" style="left:-7px">0</span>
                    Selected Datasets
                </button>
            </div>
        </div>
        <mat-divider class="col-lg-10"></mat-divider>
        <div class="row no-gutters">
            <div class="col col-lg-10">
                <app-rightbarselections></app-rightbarselections>
            </div>
        </div>
        <br>
        <div class="row no-gutters">
            <div class="col col-lg-12">
                <app-tablecard></app-tablecard>
            </div>
        </div>
    </div>
    <div class="col">
        <nav id="sidebar" style="display: none">
            <app-datasetstabs></app-datasetstabs>
        </nav>

    </div>
    <div class="overlay">
    </div>
        </div>
    <app-alltables></app-alltables>