<!-- <mat-card id="tablecard"> -->

  <div class="row no-gutters">
    <div class="col">
<div class="row no-gutters ex-element-main">      
      <div class="col" style="float:left;width:32%;padding-left:10%">
          <mat-icon class="ex-element-i" matSuffix style="cursor:pointer;" onclick="printJS('expand', 'html')">print</mat-icon>
          <p class="ex-element-p" style="margin-right: 8px;margin-top:4px;">Export to pdf</p>  
      </div>
      <div class="col" style="float:left;width:32%;padding-left:10%">
          <mat-icon class="ex-element-i" matSuffix style="cursor:pointer;" (click)="exportToPdf();">print</mat-icon>
          <p class="ex-element-p" style="margin-right: 8px;margin-top:4px;">Export all datasets to pdf</p>  
      </div>
      <div class="col" style="float:left;width:32%;padding-left:10%">
        <mat-icon class="ex-element-i" matSuffix style="cursor:pointer;" (click)="expandTable();">zoom_out_map</mat-icon>
        <p class="ex-element-p" style="margin-right: 8px;margin-top:4px;">Expand Table</p>  
      </div>
</div>
      
      <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" (click)=close();>&times;</span>
            <div id="append"></div>
        </div>

    </div>
    </div>
  </div>
  <div class="row no-gutters" style="padding:0 !important">
    <div class="col">
      <div id="loader-table" style="display:none;">
        <div class="dots">
          <i class="dot-1"></i>
          <i class="dot-2"></i>
          <i class="dot-3"></i>
          <i class="dot-4"></i>
          <i class="dot-5"></i>
          <i class="dot-6"></i>
        </div>
      </div>
      <div class="col custom-table-div" id="expand" style="display:none;transition: transform .2s">
        
      </div>
      
    </div>
  </div>