<!-- <mat-card id="tablecard"> -->

  <div class="row no-gutters">
    <div class="col">
      <button class="btn btn-default" onclick="printJS('expand', 'html')" >Export to pdf</button>
      <mat-icon class="ex-element" matSuffix style="cursor:pointer;float:right" (click)="expandTable();">zoom_out_map</mat-icon>
      <p class="ex-element" style="float:right;margin-right: 8px;margin-top:4px;">Expand Table</p>
      <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" (click)=close();>&times;</span>
            <div id="append"></div>
        </div>

    </div>
    </div>
  </div>
  <div class="row no-gutters" style="padding:0 !important">
    <div class="col">
      <div id="loader-table" style="display:none;">
        <div class="dots">
          <i class="dot-1"></i>
          <i class="dot-2"></i>
          <i class="dot-3"></i>
          <i class="dot-4"></i>
          <i class="dot-5"></i>
          <i class="dot-6"></i>
        </div>
      </div>
      <div class="col custom-table-div" id="expand" style="display:none;transition: transform .2s">
        
      </div>
      <table class="custom-print-table" style="display:none">

      </table>
    </div>
  </div>